.azeret-mono-normal{
  font-family: "Azeret Mono", serif;
  font-optical-sizing: auto;
  font-style: normal;
}
*{
    padding: 0;
    margin: 0;
}
/*-------------- Nav Style ------------*/
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 50px 100px;
}
.nav-title{
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 800;
}
nav ul li{
    list-style: none;
}
.nav-btn{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    padding: 5px 10px;
    font-size: 12px;
    font-weight: 600;
    line-height: 23px;
    text-align: center;
    box-sizing: border-box;
    border: 1px solid rgb(13, 19, 33);
    border-radius: 8px;
    opacity: 0.8;
}
/* -----------Banner Style -----------*/
.banner{
    background-image:url("../assets/Hero-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; 
}
.banner-container{
    text-align: center;
    padding: 26px 300px;
}
.banner-img{
    margin-bottom: 32px;
}
.banner-title1{
    color: rgb(13, 19, 33);
    font-size: 35px;
    font-weight: 800;
    line-height: 45px;
    margin-bottom: 24px;
}
.banner-description{
    color: rgb(13, 19, 33);
    font-size: 12px;
    font-weight: 400;
    line-height: 26px;
    margin-bottom: 25px;
}
.banner-button{
    color: rgb(255, 255, 255);
    font-size: 12px;
    font-weight: 600;
    padding: 15px;
    border: none;
    border-radius: 8px;
    background: rgb(13, 19, 33);
    cursor: pointer;
}
/* ------------------ development style-----------------*/
.development{

}
.development-container{
    border-radius: 16px;
    background: rgba(13, 19, 33, 0.02);
    margin: 10px 200px;
}
.development-title{
    text-align: center;
    margin: 100px;
    /* padding: 10px 80px; */
}
.development-head-title{
    color: rgb(13, 19, 33);
    font-size: 26px;
    font-weight: 800;
    margin-bottom: 18px;
}
.development-description, .inspiration-description{
    color: rgb(13, 19, 33);
    font-size: 12px;
    font-weight: 400;
    line-height: 26px;
    margin-bottom: 8px;
}
/*------------------Learn more style  ---------------*/
.learn-more{
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin: 60px;
    gap: 140px;
    border-radius: 16px;
    background: linear-gradient(90.00deg, rgb(255, 255, 255),rgba(255, 255, 255, 0) 100%);
    padding: 5px 40px;
}
.learn-more-head-text, .learn-more-head-text2{
    max-width: 200px;
    color: rgba(13, 19, 33, 0.7);
    font-size: 15px;
    font-weight: 700;
    line-height: 25px;
    margin-bottom: 12px;
}
.learn-more-head-description, .learn-more-head-description2{
    color: rgb(13, 19, 33);
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    margin-bottom: 18px;
}
.learn-more-btn, .learn-more-btn2{
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 600;
    padding: 5px 10px;
    text-align: center;
    box-sizing: border-box;
    border: 1px solid rgb(13, 19, 33);
    opacity: 0.7;
}
.learn-more2{
    display:flex;
    justify-content: space-around;
    align-items: center;
    margin: 60px;
    gap: 10px;
    border-radius: 16px;
    background: linear-gradient(90.00deg, rgb(255, 255, 255),rgba(255, 255, 255, 0) 100%);
    padding: 5px 40px;
}
/* -------------inspiration  style -----------*/
.inspiration-container{
    text-align: center;
    margin: 10px 200px;
}
.inspiration-text{
    max-width: 700px;
    margin: auto 107px;
}
.inspiration-text1{
    text-align: center;
    color: rgb(13, 19, 33);
    font-size: 26px;
    font-weight: 800;
    margin-bottom: 18px;
}
.inspiration-description{
    margin-bottom: 40px;
}
.video-container{
    padding-top: 12px;
    padding-bottom: 10px;
    box-sizing: border-box;
    border: 1px solid rgba(13, 19, 33, 0.2);
    border-radius: 16px;
}
.video-border{
    border-radius: 16px;
    max-width: 900px;
}
/*-------------- current target section ---------------*/
.current-target{
    margin: auto 200px;
}
.section-title{
    text-align: center;
    color: rgb(13, 19, 33);
    font-size: 26px;
    font-weight: 800;
    margin-top: 100px;
    margin-bottom: 20px;
}
.section-description{
    text-align: center;
    margin: 10px 90px;
    color: rgb(13, 19, 33);
    font-size: 12px;
    font-weight: 400;
    line-height: 26px;
    margin-bottom: 30px;
}
.current-target-container{
    display: flex;
    justify-content: space-between;
    gap: 20px;
}
.current-target1{
    padding: 40px;
}
.current-target-title{
    color: rgb(13, 19, 33);
    font-size: 17px;
    font-weight: 800;
    line-height: 30px;
    margin-top: 20px;
}
.current-target-description{
    color: rgb(13, 19, 33);
    font-size: 10px;
    font-weight: 400;
    line-height: 15px;
    opacity: 0.7;
    margin-bottom: 20px;
}
.ankor{
    color: rgb(13, 19, 33);
    font-size: 13px;
    font-weight: 700;
    line-height: 19px;
}