.azeret-mono-normal{
  font-family: "Azeret Mono", serif;
  font-optical-sizing: auto;
  font-style: normal;
}
*{
    padding: 0;
    margin: 0;
}
/*-------------- Nav Style ------------*/
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1140px; 
    margin: 30px auto; 
}
.nav-title{
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 800;
}
nav ul li{
    list-style: none;
}
.nav-btn{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    padding: 5px 10px;
    font-size: 12px;
    font-weight: 600;
    line-height: 23px;
    text-align: center;
    box-sizing: border-box;
    border: 1px solid rgb(13, 19, 33);
    border-radius: 8px;
    opacity: 0.8;
}
/* -----------Banner Style -----------*/
.banner{
    background-image:url("../assets/Hero-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; 
}
.banner-container{
    text-align: center;
    padding: 26px 300px;
}
.banner-title1{
    color: rgb(13, 19, 33);
    font-size: 35px;
    font-weight: 800;
    line-height: 45px;
    margin-bottom: 24px;
}
.banner-description{
    color: rgb(13, 19, 33);
    font-size: 12px;
    font-weight: 400;
    line-height: 26px;
    margin-bottom: 25px;
    opacity: 0.7;
}
.banner-button{
    color: rgb(255, 255, 255);
    font-size: 12px;
    font-weight: 600;
    padding: 15px;
    border: none;
    border-radius: 8px;
    background: rgb(13, 19, 33);
    cursor: pointer;
}
/* ------------------ development style-----------------*/
.development-container{
    border-radius: 16px;
    background: rgba(13, 19, 33, 0.02);
    /* background: rgba(56, 103, 214, 0.932); */
    padding-top: 20px;
    max-width: 1140px; 
    margin: 30px auto; 
}
.development-title, .inspiration-text, .current-target-text, .next-target-text{
    text-align: center;
    max-width: 852px; 
    margin: 30px auto; 
}
.development-head-title, .inspiration-text1, .section-title{
    color: rgb(13, 19, 33);
    font-size: 26px;
    font-weight: 800;
    margin-bottom: 18px;
    max-width: 852px; 

}
.development-description, .inspiration-description, .section-description{
    color: rgb(13, 19, 33);
    font-size: 12px;
    font-weight: 400;
    line-height: 26px;
    margin-bottom: 8px;
    opacity: 0.7;
    max-width: 852px; 
}
/*------------------Learn more style  ---------------*/
.learn-more, .learn-more2{
    display:flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 16px;
    background: linear-gradient(90.00deg, rgb(255, 255, 255),rgba(255, 255, 255, 0) 100%);
    max-width: 946px; 
    margin: 0 auto; 
    margin-bottom: 30px;
}
.learn-more-text{
    max-width: 477px;
    margin: 0 auto;
}
.learn-more-text-container{
    max-width: 850px; 
    margin: 35px auto; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 100px;
}
.learn-more-text-container2{
    max-width: 850px; 
    margin: 35px auto; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}
.learn-more-head-text, .learn-more-head-text2{
    color: rgba(13, 19, 33, 0.7);
    font-size: 15px;
    font-weight: 700;
    line-height: 25px;
    margin-bottom: 15px;
}
.learn-more-head-description, .learn-more-head-description2{
    color: rgb(13, 19, 33);
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    margin-bottom: 18px;
}
.learn-more-btn, .learn-more-btn2{
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 600;
    padding: 5px 10px;
    text-align: center;
    box-sizing: border-box;
    border: 1px solid rgb(13, 19, 33);
    opacity: 0.7;
}
/* -------------inspiration  style -----------*/
.inspiration-container{
    max-width: 1140px; 
    margin: 30px auto; 
    text-align: center;
}
.video-container{
    max-width: 1140px;
    margin: 0 auto;
    padding-top: 27px;
    padding-bottom: 25px;
    box-sizing: border-box;
    border: 1px solid rgba(13, 19, 33, 0.2);
    border-radius: 16px;
}
.video-container iframe{
    max-width: 1076px;
} 
.video-border{
    border-radius: 16px;
}
/*-------------- current target section ---------------*/
.current-target{
    max-width: 1140px;
    margin: 0 auto;
    border-radius: 16px;
}
.current-target-container{
    display: flex;
    justify-content: space-between;
    gap: 20px;
}
.current-target-card{
    padding: 35px;
}
.current-target-title, .next-target-title{
    color: rgb(13, 19, 33);
    font-size: 17px;
    font-weight: 800;
    line-height: 30px;
    margin-top: 20px;
}
.current-target-description, .next-target-description{
    color: rgb(13, 19, 33);
    font-size: 10px;
    font-weight: 400;
    line-height: 15px;
    opacity: 0.7;
    margin-bottom: 20px;
}
.ankor{
    color: rgb(13, 19, 33);
    font-size: 13px;
    font-weight: 700;
    line-height: 19px;
}
/* ----------next target style ------------*/
.next-target{
    max-width: 1140px;
    margin: 0 auto;
    margin-top: 100px;
}
.next-target-container{
    display: flex;
    gap: 15px;
    padding: 30px;
    box-sizing: border-box;
    border: 1px solid rgba(13, 19, 33, 0.15);
    border-radius: 16px;
    background: rgb(255, 255, 255);
    margin-bottom: 30px;
}
/*---------------- support ------------*/
.support-container{
    max-width: 1140px;
    margin: 30px auto;
    height: 313px;
    background:linear-gradient( rgba(10, 10, 10, 0.74),rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.2)),url("../assets/handshake.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; 
    text-align: center;
    align-items: center;
    border-radius: 16px;
}
.form-common-container{
    max-width: 730px;
    margin: 0 auto;
    padding: 64px 48px;
}
.support-head-text{
    color: rgb(255, 255, 255);
    font-size: 25px;
    font-weight: 700;
    line-height: 36px;
    text-align: center;
}
.support-description{
    color: rgb(255, 255, 255);
    font-family: Azeret Mono;
    font-size: 12px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: center;
    opacity: 0.7;
    margin-bottom: 24px;
}
 .input-text{
    width: 60%;
    height: 40px;
    color: rgba(13, 19, 33, 0.4);
    font-family: Azeret Mono;
    font-size: 10px;
    font-weight: 400;
    padding: 15px;
    text-align: left;
    box-sizing: border-box;
    border: none;
    border-radius: 8px;
    background: rgb(255, 255, 255);
 }
 .input-btn{
    width: 10%;
    height: 40px;
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 12px;
    font-weight: bold;
    padding-bottom: 2px; 
    text-align: center;
    box-sizing: border-box;
    border: none;
    border-radius: 8px;
    background: rgb(255, 255, 255);
 }
 /* -------footer -----------*/
 .footer{
    border-radius: 16px;
    background: rgba(13, 19, 33, 0.03);
 }
 .footer-container{
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 0;
 }
 .footer-description{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 15px;
    font-weight: 600;
    line-height: 23px;
    letter-spacing: 0%;
    text-align: center;
 }